@use "variables.scss";
@use "mixins.scss";

.page {
  height: 100dvh;
}

.page__body {
  height: 100dvh;
  font-family: variables.$font-raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #000000;
  margin: 0;
  text-wrap: wrap;
  min-height: 100%;
}

.page__container {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: variables.$color-bg-white;
}
