//fonts
$font-ptsans: "ptsans", "Arial", sans-serif;

//resolution
$screen-mobile-s: 320px;
$screen-mobile: 425px;
$screen-mobile-xl: 575px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

//colors
$color-deep-darkblue: #2d2d44;
$color-darkblue: #414157;
$color-white: #ffffff;
$color-black: #000000;
$color-other-tomato: #ff8282;
$color-grey: #8f8f9b;
$color-white-grey: #f2f2f2;

