//fonts
$font-ptsans: "ptsans", "Arial", sans-serif;

//resolution
$screen-mobile: 425px;
$screen-mobile-xl: 575px;
$screen-tablet: 768px;
$screen-desktop: 1440px;

//colors
$color-deep-darkblue: #2d2d44;
$color-white: #ffffff;
// $color-bg-or-text-darkgrey: rgba(142, 152, 146, 0.7);

// $color-accents-purple: #6a107a;
// $color-accents-green: #0f805d;

// $color-other-purple: #b22ec8;
// $color-other-purple-06: rgba(106, 16, 122, 0.6);
// $color-other-green: #7bdb0a;
// $color-other-turquoise: rgba(15, 128, 93, 0.5);
// $color-other-tomato: #ff8282;
