@use "../global/variables.scss";
@use "../global/mixins.scss";

.main-header {
  background-color: variables.$color-deep-darkblue;
  position: relative;

  @media (max-width: variables.$screen-mobile-xl) {
    padding: 0;
  }
}

.main-header__container {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  display: none;

  @media (min-width: variables.$screen-mobile-xl) {
    display: flex;
    flex-grow: 0;
  }

  &--bottom {
    @media (max-width: variables.$screen-mobile-xl) {
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      z-index: 99;
      background-color: rgba(45, 45, 68, 0.9);
      gap: 16px;
      padding: 24px 16px;
      top: 68px;
      width: 100%;
    }

    @media (min-width: variables.$screen-mobile-xl) {
      flex-grow: 1;
    }
  }

  &--top {
    @media (max-width: variables.$screen-mobile-xl) {
      display: flex;
      justify-content: space-between;
      padding-left: clamp(16px, 4.5vw, 137px);
      padding-right: clamp(16px, 4.5vw, 137px);
    }
  }
}

.close {
  display: flex;
}

.main-header__navigation {
  @media (max-width: variables.$screen-mobile-xl) {
    padding: 0;
  }
}
