@use "../global/variables.scss";
@use "../global/mixins.scss";

.navigation {
  max-width: variables.$screen-desktop;
  color: variables.$color-white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: variables.$screen-mobile-xl) {
    display: block;
  }
}

.navigation__list {
  display: flex;

  @media (max-width: variables.$screen-mobile-xl) {
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    gap: 16px;
  }
}

.navigation__item {
  cursor: pointer;
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    &:hover,
    &:focus-within {
      @media (min-width: variables.$screen-mobile-xl) {
        background-color: variables.$color-darkblue;
      }

      .learn-block__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .navigation__title {
      color: variables.$color-grey;
      &::before {
        opacity: 1;
      }
    }
  }

  &--learn {
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-width: 6px 4px 0;
      border-style: solid;
      border-color: variables.$color-grey transparent transparent;
    }
  }

  @media (max-width: 1024px) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @media (max-width: variables.$screen-mobile-xl) {
    width: 100%;

    padding: 0.5rem 0;
    border-bottom: variables.$color-grey 1px solid;
    flex-direction: column;
    align-items: flex-start;

    &--learn {
      &::after {
        display: none;
      }
    }
  }
}

.navigation__title {
  display: flex;
  align-items: center;
  gap: 8px;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    background-color: variables.$color-white;
    opacity: 0.5;
  }

  @media (max-width: variables.$screen-tablet) {
    span {
      display: none;
    }
  }

  @media (max-width: variables.$screen-mobile-xl) {
    span {
      display: block;
    }
  }

  @media (min-width: variables.$screen-mobile-xl) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.navigation__link {
  &:hover {
    color: variables.$color-grey;
  }
}

.navigation__main-link {
  margin-right: 36px;
  flex-shrink: 0;

  @media (max-width: 1024px) {
    margin-right: 16px;
  }

  @media (max-width: variables.$screen-mobile-xl) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
