.popular-item__link {
  display: flex;
  outline: 1px solid #f2f2f2;
}

.popular-item__datetime {
  font-size: 1rem;
  color: rgba(0,0,0,0.7);

}

.popular-item__title {
  color: red;
  font-size: 1rem;
}
