@use "../global/variables.scss";
@use "../global/mixins.scss";

.popular {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.popular__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popular__title {
  color: variables.$color-other-tomato;
  text-align: center;
  padding-bottom: 1rem;
}
