@use "../global/variables.scss";
@use "../global/mixins.scss";

.popular-item__link {
  display: flex;
  outline: 1px solid variables.$color-white-grey;
}

.popular-item__datetime {
  font-size: 1rem;
  color: rgba(0,0,0,0.7);

}

.popular-item__title {
  color: variables.$color-other-tomato;
  font-size: 1rem;
}

.popular-item__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    opacity: 0.7;
  }
}
