.quote {
  quotes: none;
}

.quote__description {
  font-style: italic;
  font-size: 2rem;
  position: relative;

span {
  position: absolute;
  left: -60px;
    top: -31px;
  font-size: 7rem;
  opacity: 0.5;
}
}




