@use "../global/variables.scss";
@use "../global/mixins.scss";

.quote {
  quotes: none;
}

.quote__description {
  font-style: italic;
  font-size: 2rem;
  position: relative;

  @media (max-width: variables.$screen-mobile-xl) {
    font-size: 1rem;
  }

  span {
    position: absolute;
    left: -60px;
    top: -31px;
    font-size: 7rem;
    opacity: 0.5;

    @media (max-width: variables.$screen-mobile-xl) {
      font-size: 5rem;
      left: -46px;
    }
  }
}
