@use "../global/variables.scss";
@use "../global/mixins.scss";

.user-list__title {
  &--registration {
    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      mask-image: url("../../images/icons/stack.svg#face");
      background-color: variables.$color-white;
      opacity: 0.5;
    }
  }

  &--logout {
    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      mask-image: url("../../images/icons/stack.svg#login");
      background-color: variables.$color-white;
      opacity: 0.5;
    }
  }

  @media (max-width: 1024px) {
    .user-list__text {
      display: none;
    }
  }

  @media (max-width: variables.$screen-mobile-xl) {
    .user-list__text {
      display: block;
    }
  }
}

.user-list {
  @media (min-width: variables.$screen-mobile-xl) {
    margin-left: auto;
  }
}

.user-list__item {
  @media (min-width: variables.$screen-tablet) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.user-list__title {
  padding: 16px;

  @media (max-width: variables.$screen-mobile-xl) {
    padding: 0;
  }
}
